<div id="{{ include.prefix }}-categories-disclosure" class="categories-controls wrapper">
  <a href="#">Show more categories…</a>
</div>

<div id="{{ include.prefix }}-categories-table" class="categories-controls wrapper">
  <div class="display-table">
    <div class="table-tab-bar">
      <ul class="tabs">
        <li><a id="{{ include.prefix }}-all-categories-tab" href="#" class="here">All</a></li><!--
        --><li><a id="{{ include.prefix }}-chrono-categories-tab" href="#">When</a></li><!--
        --><li><a id="{{ include.prefix }}-geo-categories-tab" href="#">Where</a></li><!--
        --><li><a id="{{ include.prefix }}-theme-categories-tab" href="#">What</a></li>
      </ul>
    </div>
    <div class="table-panels">
      <div id="{{ include.prefix }}-all-categories-panel" class="table-panel here">
        {% categories_table all %}
      </div>
      <div id="{{ include.prefix }}-chrono-categories-panel" class="table-panel">
        {% categories_table chrono %}
      </div>
      <div id="{{ include.prefix }}-geo-categories-panel" class="table-panel">
        {% categories_table geo %}
      </div>
      <div id="{{ include.prefix }}-theme-categories-panel" class="table-panel">
        {% categories_table theme %}
      </div>
    </div>
  </div>
</div>
