---
layout: homepage
---

<div class="home top-row wrapper">
  <div class="home-left-col inverse">
    <h1>
      <img src="images/interface/homepage-logo.png" alt="Backlist" width="280" />
    </h1>
  </div>
  <div class="home-right-col inverse">
    <div class="tagline">
      <p class="tagline-callout">
        <b>Historians</b> <b>recommend</b> the <b>books</b> they <b>love</b>.
      </p>
      <ul class="tagline-links">
        <li><a href="{{ site.baseurl }}lists">Lists</a></li><!--
        --><li><a href="{{ site.baseurl }}books/all">Books</a></li><!--
        --><li><a href="{{ site.baseurl }}blog">Blog</a></li><!--
        --><li><a href="{{ site.baseurl }}about">About</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="home wrapper">
  {% assign grabbed_post = false %}
  {% for post in site.posts %}{% if post.layout == 'list' %}{% if grabbed_post != true %}
    {% assign grabbed_post = true %}
    <h2 class="featured-banner">New List</h2>
    <div class="featured-list-wrapper" style="background-image: url(images/list-headers/{{ post.image_id }});"><div class="featured-list">
      <div class="details-card">
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <span class="attribution">By {{ post.author | person_full_name }}</span>
          </a>
        </h3>
        <p class="description">
          {{ post.description | markdownify | remove: '<p>' | remove: '</p>' }}
        </p>
        <p class="description">
          <a class="read-more" href="{{ post.permalink }}">Read more…</a>
        </p>
      </div>
    </div></div>
  {% endif %}{% endif %}{% endfor %}
</div>

<div class="home follow-row wrapper">
  <div class="homepage-bucket follow">
    <h3>Keep in Touch</h3>
    <ul class="contact-list">
      <li>
        <a href="http://eepurl.com/bzqp9f" target="_blank">
          <span class="icon">{% include svg/email.html %}</span>
          <span class="label">Join Our Newsletter</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <span class="icon">{% include svg/twitter.html %}</span>
          <span class="label">Twitter</span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/Backlist-985726241511832">
          <span class="icon">{% include svg/facebook.html %}</span>
          <span class="label">Facebook</span>
        </a>
      <li>
        <a href="https://github.com/{{ site.github_username }}">
          <span class="icon">{% include svg/github.html %}</span>
          <span class="label">GitHub</span>
        </a>
      </li>
      <li>
        <a href="http://feedpress.me/backlist">
          <span class="icon">{% include svg/feed.html %}</span>
          <span class="label">RSS Feed</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="home wrapper">
  <div class="two-thirds-col">
    <div class="recent-wrapper">
      <h2 class="featured-banner">Recent Lists</h2>
      <ul class="list-of-lists">
        {% assign list_counter = 0 %}
        {% for post in site.posts %}{% if post.layout == 'list' %}
          {% if list_counter > 0 %}{% if list_counter < 11 %}
            {% include categories/list_line_item.html %}
          {% endif %}{% endif %}
          {% assign list_counter = list_counter | plus: 1 %}
        {% endif %}{% endfor %}
      </ul>

      <a class="bottom-link" href="{{ site.baseurl }}lists">Browse All Lists…</a>
    </div>

    <div class="recent-wrapper">
      <h2 class="featured-banner">From the Blog</h2>
      <ul class="list-of-posts">
        {% assign grabbed_post = false %}
        {% for post in site.posts %}{% if post.layout == 'post' %}{% if grabbed_post != true %}
          {% assign grabbed_post = true %}
          {% include blog/list_line_item.html %}
        {% endif %}{% endif %}{% endfor %}
      </ul>
    </div>

    <div class="homepage-bucket social-actions">
      <h3>Spread the Word</h3>
      <ul class="social-actions">
        <li><a href="#" title="Share on Facebook" class="facebook-share">{% include svg/facebook.html %}</a></li>
        <li><a href="https://twitter.com/share" title="Share on Twitter" class="twitter-share">{% include svg/twitter.html %}</a></li>
      </ul>
    </div>
  </div>

  <div class="third-col right">
    <div class="homepage-bucket recommendation">
      <h3>Read a Book</h3>
      <a class="book" id="read-recommendation-title-link" href="#">
        <img id="read-recommendation-cover" src="" />
      </a>
      <p>
        Reviewed by <span id="read-recommendation-author"></span> in<br />
        <a id="read-recommendation-list-link" href="#"></a>
      </p>
    </div>

    <div class="homepage-bucket">
      <h3>When</h3>
      <ul class="categories">
        {% for category in site.data['categories'] %}{% if category.group == 'chrono' %}
          <li><a href="{{ category.id | prepend: 'category/' | prepend: site.baseurl }}">{{ category.display_name }}</a></li>
        {% endif %}{% endfor %}
      </ul>
    </div>

    <div class="homepage-bucket">
      <h3>Where</h3>
      <ul class="categories">
        {% for category in site.data['categories'] %}{% if category.group == 'geo' %}
          <li><a href="{{ category.id | prepend: 'category/' | prepend: site.baseurl }}">{{ category.display_name }}</a></li>
        {% endif %}{% endfor %}
      </ul>
    </div>

    <div class="homepage-bucket">
      <h3>What</h3>
      <ul class="categories">
        {% for category in site.data['categories'] %}{% if category.group == 'theme' %}
          <li><a href="{{ category.id | prepend: 'category/' | prepend: site.baseurl }}">{{ category.display_name }}</a></li>
        {% endif %}{% endfor %}
      </ul>
    </div>

  </div>
</div>

<script type="text/javascript">
$.getJSON('/data-includes/homepage-featured-book-source.json', function(data) {
  var randomBook = data[Math.floor(Math.random() * data.length)];
  $('#read-recommendation-cover').attr('src','/images/covers/' + randomBook['book_id'][0] + '/' + randomBook['book_id'] + '-small.jpg');
  $('#read-recommendation-title-link').attr('href', randomBook['list_permalink'] + '#' + randomBook['book_id']);

  $('#read-recommendation-list-link').attr('href', randomBook['list_permalink']);
  $('#read-recommendation-list-link').html(randomBook['list_title']);

  $('#read-recommendation-author').html(randomBook['author']);

});
</script>
