---
layout: homepage
---

<div class="home top-row wrapper">
  <div class="home-left-col inverse">
    <h1>
      <img src="images/interface/homepage-logo.png" alt="Backlist" width="280" />
    </h1>
  </div>
  <div class="home-right-col inverse">
    <p class="tagline-callout">
      <b>Historians</b> share the <b>histories</b>, <b>primary sources</b>, and <b>novels</b> they love.
    </p>
  </div>
</div>

<div class="home wrapper">
  {% assign grabbed_post = false %}
  {% for post in site.posts %}{% if post.layout == 'list' %}{% if grabbed_post != true %}
    {% assign grabbed_post = true %}
    <h2 class="featured-banner">New List</h2>
    <div class="featured-list-wrapper" style="background-image: url(images/list-headers/{{ post.header }});"><div class="featured-list">
      <div class="details-card">
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <span class="metadata">{{ post.author | person_full_name }}</span>
          </a>
        </h3>
        <p class="description">
          {{ post.description }}
        </p>
      </div>
    </div></div>
  {% endif %}{% endif %}{% endfor %}
</div>
<div class="home categories-row wrapper">
  <div class="third-col left">
    <div class="homepage-bucket">
      <h3>When</h3>
      <ul class="categories">
        {% for category in site.data['categories'] %}{% if category.group == 'chrono' %}
          <li><a href="{{ category.id | prepend: 'category/' | prepend: site.baseurl }}">{{ category.display_name }}</a></li>
        {% endif %}{% endfor %}
      </ul>
    </div>
  </div>

  <div class="third-col mid">
    <div class="homepage-bucket">
      <h3>Where</h3>
      <ul class="categories">
        {% for category in site.data['categories'] %}{% if category.group == 'geo' %}
          <li><a href="{{ category.id | prepend: 'category/' | prepend: site.baseurl }}">{{ category.display_name }}</a></li>
        {% endif %}{% endfor %}
      </ul>
    </div>
  </div>

  <div class="third-col right">
    <div class="homepage-bucket">
      <h3>What</h3>
      <ul class="categories">
        {% for category in site.data['categories'] %}{% if category.group == 'theme' %}
          <li><a href="{{ category.id | prepend: 'category/' | prepend: site.baseurl }}">{{ category.display_name }}</a></li>
        {% endif %}{% endfor %}
      </ul>
    </div>
  </div>

  <script type="text/javascript">
    $(document).on('ready', function() {
      var maxHeight = 0;

      $('.categories-row .third-col .homepage-bucket').each(function() {
        if ($(this).height() > maxHeight) {
          maxHeight = $(this).height();
        }
      });

      $('.categories-row .third-col .homepage-bucket').height(maxHeight);
    });
  </script>
</div>

<div class="home wrapper">
  <div class="two-thirds-col recent-lists-wrapper">
    <h2 class="featured-banner">Recent Lists</h2>
    <ul class="list-of-lists">
      {% for post in site.posts %}{% if post.layout == 'list' %}{% if forloop.index > 1 %}{% if forloop.index < 6 %}
        {% include categories/list_line_item.html %}
      {% endif %}{% endif %}{% endif %}{% endfor %}
    </ul>

    <a class="bottom-link" href="{{ site.baseurl }}lists">Browse All Lists…</a>
  </div>

  <div class="third-col right">
    <div class="homepage-bucket">
      <h3>Keep in Touch</h3>
      <p>
        Stub for following us on social media and newsletter
      </p>
    </div>

    <div class="homepage-bucket recommendation">
      <h3>Read a Book</h3>
      <a class="book" id="read-recommendation-title-link" href="#">
        <img id="read-recommendation-cover" src="" />
      </a>
      <p>
        Reviewed in <a id="read-recommendation-list-link" href="#"></a> by <span id="read-recommendation-author">[Author Stub]</span>
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">
$.getJSON('/data-includes/homepage-featured-book-source.json', function(data) {
  var randomBook = data[Math.floor(Math.random() * data.length)];
  $('#read-recommendation-cover').attr('src','/images/covers/' + randomBook['id'][0] + '/' + randomBook['id'] + '-small.jpg');
  $('#read-recommendation-title-link').attr('href', randomBook['list_permalink'] + '#' + randomBook['id']);

  $('#read-recommendation-list-link').attr('href', randomBook['list_permalink']);
  $('#read-recommendation-list-link').html(randomBook['list_title']);

});
</script>
