<footer class="site-footer">

  <div class="wrapper">
    <div class="two-thirds-col">
      <ul class="page-list">
        <li><a href="{{ site.baseurl }}lists">Lists</a></li>
        <li><a href="{{ site.baseurl }}books/all">Books</a></li>
        <li><a href="{{ site.baseurl }}blog">Blog</a></li>
        <li><a href="{{ site.baseurl }}about">About</a></li>
      </ul>

      <p class="credit">
        Portions of Backlist are &copy;2015 by individual Backlist contributors. Content is available under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      </p>

      <p class="credit">
        Made by <a href="http://clionautics.co">Advanced Clionautics LLC</a> • <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </p>
    </div>

    <div class="third-col right">
      <ul class="contact-list">
        <li>
          <a href="http://eepurl.com/bzqp9f" target="_blank">
            <span class="icon">{% include svg/email.html %}</span>
            <span class="label">Join Our Newsletter</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon">{% include svg/twitter.html %}</span>
            <span class="label">Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/Backlist-985726241511832">
            <span class="icon">{% include svg/facebook.html %}</span>
            <span class="label">Facebook</span>
        </li>
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="icon">{% include svg/github.html %}</span>
            <span class="label">GitHub</span>
          </a>
        </li>
        <li>
          <a href="http://feedpress.me/backlist">
            <span class="icon">{% include svg/feed.html %}</span>
            <span class="label">RSS Feed</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  </div>

</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77142885-2', 'auto');
  ga('send', 'pageview');

</script>
