<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} / {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="icon" type="image/x-icon" href="/favicon.png" />

  <!-- TODO: set up environment based inclusion of zepto
  <script src="{{ site.baseurl }}includes/scripts/lib/zepto.min.js"></script>
  -->
  <script src="{{ site.baseurl }}includes/scripts/lib/zepto.js"></script>
  <script src="{{ site.baseurl }}includes/scripts/readMoreBlocks.js"></script>

  <script src="https://use.typekit.net/wze0hjz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  {% if page.layout == 'list' %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bcklst">
    <meta name="twitter:creator" content="@jonesbp">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="http://backlist.cc/images/social-media-cards/{{ page.image_id }}">

    <meta property="og:url" content="http://backlist.cc{{ page.permalink }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" content="http://backlist.cc/images/social-media-cards/{{ page.image_id }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
  {% elsif page.layout == 'post' %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@bcklst">
    <meta name="twitter:creator" content="@jonesbp">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">

    <meta property="og:url" content="http://backlist.cc{{ page.permalink }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" content="http://backlist.cc/images/social-media-cards/backlist-logo.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
  {% elsif page.layout == 'homepage' %}
    <meta property="og:url" content="http://backlist.cc" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Backlist" />
    <meta property="og:description" content="Historians recommend the books they love" />
    <meta property="og:image" content="http://backlist.cc/images/social-media-cards/backlist-logo.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
  {% endif %}
  <meta property="fb:app_id" content="1527664130886668" />
</head>
