---
---
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1527664130886668',
      xfbml      : true,
      version    : 'v2.5'
    });

    $('.facebook-share').on('click', function(e) {
      e.preventDefault();
      FB.ui({
        method: 'share',
        href: 'http://backlist.cc{{ page.permalink }}',
      }, function(response){});
    });
    $(".twitter-share").click(function(e) {
      e.preventDefault();
      window.open('https://twitter.com/share', "tweet", "height=300,width=550,resizable=1")
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
