@media screen and (max-width: 420px) {
  .wrapper {
    width: 100%;
  }

  .site-header {
    padding-right: $spacingUnit / 2;
    padding-left: $spacingUnit / 2;
  }

  .site-footer {
    padding-right: $spacingUnit / 2;
    padding-left: $spacingUnit / 2;
  }
}
