/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    @include serif-font-stack;
    background-color: $accentColor;
    color: $textColor;
    font-size: 16px;
    line-height: $baseLineHeight;
    -webkit-text-size-adjust: 100%; // TODO: Research
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacingUnit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacingUnit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
  color: $accentColor;
  outline: none;
  text-decoration: underline;

  &:hover {
    color: $highlight2Color;
    text-decoration: underline;
  }
}

/**
 * Wrapper
 */
 // TODO: Revisit this for removal
.wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  max-width: $contentWidth;
  // max-width: -webkit-calc(#{$contentWidth} - (#{$spacingUnit} * 2));
  // max-width:         calc(#{$contentWidth} - (#{$spacingUnit} * 2));
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @extend %clearfix;

  @include media-query($onLaptop) {
    max-width: -webkit-calc(#{$contentWidth} - (#{$spacingUnit}));
    max-width:         calc(#{$contentWidth} - (#{$spacingUnit}));
  }
}



/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $backgroundColor;
        }
    }
}
