body {
  border: {
    color: $accentColor;
    style: solid;
    width: 2px 0 0 0;
  }

  &.homepage {
    border: {
      color: $highlight1Color;
      style: solid;
      width: 4px 0 0 0;
    }
  }
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Site header
 */
.site-header {
  @include sans-serif-font-stack;
  background-color: $accentColor;
  border: {
    color: $highlight2Color;
    style: solid;
    width: 3px 0 0 0;
  }
  color: $backgroundColor;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;

  a {
    color: $backgroundColor;
    text-decoration: none;

    &:hover {
      color: $highlight2Color;
    }
  }
}

.site-title {
  @include transition-stack(background-color ease 3s);

  background-color: $highlight2Color;
  display: block;
  float: left;
  height: 77px;
  margin-bottom: 0;
  position: relative;
  width: 135px;

  &:hover {
    background-color: $highlight1Color;
  }

  img.logomark {
    position: absolute;
      top: 0;
      left: 0;
    z-index: 0;
  }

  img.wordmark {
    position: absolute;
      top: 0;
      left: 0;
    z-index: 1;
  }
}

.site-nav {
  float: right;
  position: absolute;
    right: 0;
    bottom: $spacingUnit;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $backgroundColor;
    font: {
      size: 1.25em;
    }

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: $spacingUnit;
    }
  }

  @include media-query($onPalm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $backgroundColor;
    border: 1px solid $lightInterfaceStroke;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $darkInterfaceStroke;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  @include sans-serif-font-stack;

  background-color: $accentColor;
  border: {
    color: $highlight2Color;
    style: solid;
    width: 3px 0 0 0;
  }
  color: $backgroundColor;
  padding: $spacingUnit 0;

  a {
    color: $backgroundColor;
    text-decoration: none;

    &:hover {
      color: $highlight1Color;

      .icon {
        > svg {
          path {
            fill: $highlight1Color;
          }
        }
      }
    }
  }

  p.credit {
    color: $highlight1Color;

    a {
      @include special-link-underline($background: $accentColor, $verticalPosition: 98%);
      color: $highlight1Color;

      &:hover {
        color: $highlight2Color;
      }
    }
  }
}

.page-list {
  li {
    display: inline-block;
    margin-right: 1em;
  }
}

.contact-list,
.page-list,
.social-media-list {
  font-size: 1.25em;
  line-height: 1.8em;
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px; // TODO: Proportional
    margin-left: -$spacingUnit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacingUnit / 2;
    padding-left: $spacingUnit / 2;
}

.footer-col-1 {
    width: -webkit-calc(60% - (#{$spacingUnit} / 2));
    width:         calc(60% - (#{$spacingUnit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacingUnit} / 2));
    width:         calc(20% - (#{$spacingUnit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(20% - (#{$spacingUnit} / 2));
    width:         calc(20% - (#{$spacingUnit} / 2));
}

@include media-query($onLaptop) {
    .footer-col-1 {
      width: -webkit-calc(67% - (#{$spacingUnit} / 2));
      width:         calc(67% - (#{$spacingUnit} / 2));
    }

    .footer-col-2 {
      width: -webkit-calc(33% - (#{$spacingUnit} / 2));
      width:         calc(33% - (#{$spacingUnit} / 2));
    }

    .footer-col-3 {
      width: -webkit-calc(100% - (#{$spacingUnit} / 2));
      width:         calc(100% - (#{$spacingUnit} / 2));

      .contact-list {
        margin-left: $spacingUnit;
      }
    }
}

@include media-query($onPalm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacingUnit} / 2));
    width:         calc(100% - (#{$spacingUnit} / 2));

    .contact-list,
    .page-list {
      margin-left: $spacingUnit;
    }
  }
}


// ***
//  Homepage
// ***

body.homepage {
  .home {
    clear: block;
    margin-bottom: $spacingUnit;
    position: relative;

    &.top-row {
      padding-top: $spacingUnit;
      padding-bottom: $spacingUnit;
    }

    &.categories-row {
      padding-top: $spacingUnit;
      padding-bottom: $spacingUnit;
    }
  }

  .home-left-col {
    display: block;
    float: left;
    margin-right: $spacingUnit;
    width: -webkit-calc(70% - #{$spacingUnit});
    width: -moz-calc(70% - #{$spacingUnit});
    width: calc(70% - #{$spacingUnit});

    &.inverse {
      width: 30%;
    }
  }

  .home-right-col {
    display: block;
    float: right;
    width: 30%;

    &.inverse {
      width: -webkit-calc(70% - #{$spacingUnit});
      width: -moz-calc(70% - #{$spacingUnit});
      width: calc(70% - #{$spacingUnit});
    }
  }

  .tagline-callout {
    font: {
      size: 1.6em;
    }
    line-height: 1;
    margin-top: -1.2em;
    position: absolute;
      top: 50%;
  }

  h2.featured-banner {
    @include sans-serif-font-stack;

    background-color: $accentColor;
    color: $backgroundColor;
    font: {
      size: 1.1em;
      weight: 700;
    }
    line-height: 1;
    margin: 0;
    padding: .5em;
    text: {
      align: center;
      transform: uppercase;
    }
  }

  .recent-lists-wrapper {
    background-color: $insetBackgroundColor;
    padding: $spacingUnit / 2;

    h2 {
      margin-top: -($spacingUnit / 2);
      margin-right: -($spacingUnit / 2);
      margin-left: -($spacingUnit / 2);
    }

    a.bottom-link {

      color: $highlight1Color;
      display: block;
      font: {
        size: 1.25em;
      }
      margin-top: $spacingUnit;
      text-align: center;

      &:hover {
        color: $highlight2Color;
      }
    }

  }

  .featured-list-wrapper {
    background: {
      position: 50% 0;
      repeat: repeat-x;
      size: auto 240px;
    }

    .featured-list {
      background: -moz-linear-gradient(top,  rgba($backgroundColor, .4) 0%, $backgroundColor 100%); // FF3.6+
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba($backgroundColor, .4)), color-stop(100%, $backgroundColor)); // Chrome,Safari4+
      background: -webkit-linear-gradient(top, rgba($backgroundColor, .4) 0%, $backgroundColor 100%); // Chrome10+,Safari5.1+
      background: -o-linear-gradient(top, rgba($backgroundColor, .4) 0%, $backgroundColor 100%); // Opera 11.10+
      background: -ms-linear-gradient(top, rgba($backgroundColor, .4) 0%, $backgroundColor 100%); // IE10+
      background: linear-gradient(to bottom, rgba($backgroundColor, .4) 0%, $backgroundColor 100%); // W3C
      background: {
        position: 50% 0;
        size: auto 240px;
      }
      padding-top: $spacingUnit * 4;

      .details-card {
        background-color: $backgroundColor;
        border: {
          color: $highlight1Color;
          style: solid;
          width: 1px 0 0 0;
        }
        margin: 0 $spacingUnit;

        h3 {
          font: {
            size: 2em;
            weight: 700;
          }
          line-height: 1.1;

          a {
            @include header-gradient;
            @include transition-stack(all ease .5s);

            display: block;
            padding: .5em;
            text-decoration: none;

            &:hover {
              background-color: $highlight1Color;
              background-color: rgba($highlight1Color, .2);
              color: $accentColor;
            }
          }

          .metadata {
            display: block;
            font: {
              size: .5em;
              weight: 400;
            }
            padding: 0 .1em;
          }
        }

        p.description {
          margin: 1em;
          max-width: 700px;
        }
      }
    }
  }

  .homepage-bucket {
    @include header-gradient;

    border: {
      color: $highlight1Color;
      style: solid;
      width: 0 0 1px 0;
    }
    margin-bottom: $spacingUnit;

    h3 {
      @include sans-serif-font-stack;

      background-color: $highlight1Color;
      color: $backgroundColor;
      font-size: 1.1em;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 0;
      padding: .5em;
      text: {
        align: center;
        transform: uppercase;
      }
    }

    ul.categories {
      list-style-type: none;
      margin: 0;
      padding: ($spacingUnit / 2);
      text-align: center;

      li {
        display: inline-block;
        margin-right: 1em;

        a {
          @include sans-serif-font-stack;

          color: $accentColor;
          text-decoration: none;
        }
      }
    }
  }
}

.page {
  padding-top: $spacingUnit * 2;
  padding-bottom: $spacingUnit * 2;
}

/**
 * Lists Directory
 */

.list-directory {
  padding-top: $spacingUnit * 2;
  padding-bottom: $spacingUnit * 2;

  ul.lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

/**
 * Page content
 */
.page-content {
  background-color: $backgroundColor;
  padding: 0 0 ($spacingUnit * 2) 0;

  p {
    font-size: 1.25em;
    line-height: 1.5;
    margin: 1em 0;
  }
}

.two-thirds-col {
  float: left;
  margin-right: $spacingUnit;
  width: $spacingUnit + (2 * (.33333333333 * ($contentWidth - ($spacingUnit * 2))));

  &.right {
    margin-right: 0;
  }
}

.third-col {
  float: left;
  margin-right: $spacingUnit;
  width: (.3333333333 * ($contentWidth - ($spacingUnit * 2)));

  &.right {
    margin-right: 0;
  }
}

.page-heading {
    font-size: 20px; // TODO: Proportional
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacingUnit;
    }
}

.post-meta {
  @include sans-serif-font-stack;

  font-size: 0.875em; // 14px
  color: $backgroundColor;

  ul.categories {
    display: inline-block;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: .5em;

      a {
        @include special-link-underline($background: transparent, $verticalPosition: 98%);
        color: $highlight1Color;
        text: {
          decoration: none;
        }

        &:hover {
          color: $highlight2Color;
        }
      }
    }
  }
}

.post-link {
  display: block;
  font-size: 24px; // TODO: Proportional
}

.bio-block {
  margin-top: $spacingUnit * 2;
  padding-left: $spacingUnit * 2;
  padding-right: $spacingUnit * 2;

  p a {
    @include special-link-underline($verticalPosition: 66.66667%);
  }
}

.biblio-block {
  @include sans-serif-font-stack;
  margin-top: $spacingUnit;
  padding-left: $spacingUnit * 2;
  padding-right: $spacingUnit * 2;

  ul.citation-sources {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 100%;
      margin-right: $spacingUnit;
      position: relative;

      &.label {
        font-weight: 700;
      }

      a {
        color: $highlight2Color;
        line-height: 100%;

        &:hover {
          color: $highlight1Color;
          text-decoration: underline;
        }
      }
    }
  }
}


/**
 * Categories
 */

.display-table {
  background-color: $insetBackgroundColor;

  .table-tab-bar {
    ul {
      border: {
        color: $highlight1Color;
        style: solid;
        width: 0 0 1px 0;
      }
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    li {
      display: inline-block;
      width: 25%;

      a {
        @include sans-serif-font-stack;
        @include transition-stack;

        color: $highlight2Color;
        display: inline-block;
        font: {
          // size: 1.25em;
          weight: 700;
        }
        padding: .5em 1em;
        text: {
          align: center;
          decoration: none;
          transform: uppercase;
        }
        width: 100%;

        &.here {
          background-color: $highlight1Color;
        }

        &:hover {
          background-color: $highlight1Color;
        }
      }
    }
  }

  .table-panel {
    display: none;
    padding: $spacingUnit;
    text-align: center;

    &.here {
      display: block;
    }

    ul.categories {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        color: $highlight1Color;
        display: inline-block;
        font: {
          size: 1.25em;
          weight: 700;
        }
        margin-right: .5em;

        &:after {
          content: '•';
        }

        &:last-child {
          &:after { content: ''; }
        }


        a {
          color: $accentColor;
          margin-right: .5em;

          &:hover {
            color: $highlight2Color;
          }
        }
      }
    }
  }
}

.categories-controls {
  @include sans-serif-font-stack;

  margin: ($spacingUnit * 2) 0 0 0;
  text-align: center;

  a {
    color: $highlight1Color;

    &:hover {
      color: $highlight2Color;
    }
  }
}

ul.list-of-lists {
  list-style-type: none;
  margin: $spacingUnit 0;
  padding: 0;

  li {
    margin-bottom: 1em;

    h3 {
      font: {
        size: 1.5em;
        weight: 700;
      }
      margin-bottom: 0;

      a {
        @include special-link-underline;
        display: inline-block;
        line-height: 1;
      }
    }

    p.metadata {
      margin: 0;
    }
  }
}

ul.list-of-citations {
  list-style-type: none;
  margin: $spacingUnit 0;
  padding: 0;

  li {
    margin-bottom: 1em;

    h3 {
      font: {
        weight: 500;
      }
      margin-bottom: 0;
      padding-left: $spacingUnit;
      text-indent: -$spacingUnit;
    }

    ul.citations {
      @include sans-serif-font-stack;
      font-weight: 300;
      list-style-type: none;
      margin: 0 0 ($spacingUnit / 2) 0;
      padding-left: $spacingUnit;

      li {
        color: $highlight1Color;
        list-style-type: none;
        display: inline-block;
        margin-right: .5em;

        &:first-child {
          margin-right: .25em;
        }

        &:after {
          content: '•';
        }

        &:first-child:after, &:last-child:after {
          content: '';
        }

        &.label {
          color: $textColor;
          font-weight: 300;
        }

        a {
          color: $accentColor;
          margin-right: .5em;

          &:hover {
            color: $highlight2Color;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

ul.bibliography-filters {
  @include sans-serif-font-stack;

  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    color: $highlight1Color;
    display: inline-block;
    margin-right: .25em;
    padding: 0;

    &:last-child:after {
      content: '';
    }

    &:after {
      content: '•';
    }

    span.here {
      color: $textColor;
      margin-right: .25em;
    }

    a {
      color: $highlight2Color;
      margin-right: .25em;

      &:hover {
        color: $highlight2Color;
        text-decoration: underline;
      }
    }
  }
}

/**
 * Posts
 */
.post-header {
  @include header-gradient;

  background: {
    position: top;
    repeat: repeat-x;
    size: auto 200px;
  }
  height: 260px;
  position: relative;

  .header-inset {
    background: $accentColor;
    background: -moz-linear-gradient(top,  $accentColor 0%, rgba($accentColor, .4) 100%); // FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $accentColor), color-stop(100%, rgba($accentColor, .4))); // Chrome,Safari4+
    background: -webkit-linear-gradient(top, $accentColor 0%, rgba($accentColor, .4) 100%); // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top, $accentColor 0%, rgba($accentColor, .4) 100%); // Opera 11.10+
    background: -ms-linear-gradient(top, $accentColor 0%, rgba($accentColor, .4) 100%); // IE10+
    background: linear-gradient(to bottom, $accentColor 0%, rgba($accentColor, .4) 100%); // W3C

    height: 200px;
    position: absolute;
      top: 0;
      right: 0;
      left: 0;
  }

  .header-drawer {
    @include header-gradient;

    border: {
      color: rgba($highlight1Color, .5);
      style: solid;
      width: 1px 0 0 0;
    }
    height: 60px;
    position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
  }

  .wrapper {
    height: 200px;
  }

  .title-card {
    background-color: $accentColor;
    background-color: rgba($accentColor, .8);
    color: $backgroundColor;
    padding: ($spacingUnit / 2) $spacingUnit;
    position: absolute;
      left: 0;
      bottom: 0;
  }
}

.page-title {
  font: {
    size: 2.5em;
  }
  letter-spacing: -1px;
  margin-bottom: 0;
}

.post-title {
  font-size: 42px; // TODO: Proportional
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($onLaptop) {
    font-size: 36px; // TODO: Proportional
  }
}

.post-content {
  margin: 0 0 $spacingUnit 0;

  h2 {
    @include sans-serif-font-stack;
    @include header-gradient;

    border: {
      color: $highlight1Color;
      color: rgba($highlight1Color, .4);
      style: solid;
      width: 1px 0 0 0;
    }
    color: $accentColor;
    font-size: 2em; // 32px
    font-weight: 100;
    letter-spacing: -.025em;
    margin-top: $spacingUnit * 3;
    padding: ($spacingUnit / 3) 0 ($spacingUnit / 2) 0;
    text-transform: uppercase;

    @include media-query($onLaptop) {
      font-size: 28px; // TODO: Proportional
    }

    .wrapper {
      padding: 0 ($spacingUnit * 2)
    }
  }

  h3 {
    font: {
      size: 1.25em; // 20px
    }

    @include media-query($onLaptop) {
      font-size: 22px; // TODO: Proportional
    }
  }

  h4 {
    font-size: 20px; // TODO: Proportional

    @include media-query($onLaptop) {
      font-size: 18px; // TODO: Proportional
    }
  }

  hr {
    border: {
      color: $highlight1Color;
      style: solid;
      width: 1px 0 0 0;
    }
    margin: $spacingUnit auto;
    height: 1px;
    width: 67%;
  }

  .intro-block {
    background-color: $insetBackgroundColor;
    line-height: 166.66666667%;
    margin: 0 auto;
    padding: $spacingUnit * 2;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    p:first-child:first-line {
      font-weight: 700;
      letter-spacing: .025em;
    }
  }

  .book-block {
    background: {
      color: $insetBackgroundColor;
      image: url('/images/interface/small-1-color-logomark.png');
      position: 50% calc(100% - 1em);
      repeat: no-repeat;
      size: 12px 12px;
    }
    border: {
      color: $highlight1Color;
      color: rgba($highlight1Color, .4);
      style: solid;
      width: 1px 0 0 0;
    }
    margin: ($spacingUnit / 2) auto;
    padding: $spacingUnit * 2;
  }

  .citation {
    h3 {
      font-weight: 700;
      letter-spacing: .01em;
      margin-bottom: 1.25em;
      padding-left: 1.5em;
      text-indent: -1.5em;
    }
  }

  .cover {
    background-color: $highlight1Color;
    background-color: rgba($highlight1Color,.2);
    float: right;
    margin: ($spacingUnit * 1.5) -($spacingUnit * 2) 1em 1em;
    margin-right: -($spacingUnit * 2);
    margin-bottom: 1em;
    margin-left: 1em;
    padding: ($spacingUnit / 2) $spacingUnit ($spacingUnit / 2) ($spacingUnit / 2);
    height: 240px;
  }

  p a {
    @include special-link-underline($background: $insetBackgroundColor, $verticalPosition: 66.66667%);
  }

  ul.affiliate-grid {
    @include sans-serif-font-stack;

    clear: both;
    margin: ($spacingUnit * 2) 0 0 0;
    padding: 0;
    // text-align: center;

    li {
      font-size: .875em; // 14px
      display: inline-block;
      margin-right: .6666667em;
      margin-bottom: .6666667em;

      a {
        @include transition-stack;

        border: 1px solid $highlight1Color;
        border-radius: 1em;
        color: $highlight2Color;
        display: inline-block;
        padding: .25em 1em;
        text-decoration: none;

        &:hover {
          background-color: $highlight1Color;
          border-color: $highlight2Color;
          color: $insetBackgroundColor;

          &.affiliate span {
            color: $insetBackgroundColor;
          }
        }

        &.affiliate {
          span {
            color: $highlight1Color;
            font-weight: 700;
            margin-left: .75em;
          }
          span:after {
            content: "$";
          }
        }
      }
    }
  }
}
