/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px; // TODO: Proportional
    line-height: 56px; // TODO: Proportional
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
    line-height: 56px; // TODO: Proportional

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $textColor;
        line-height: $baseLineHeight;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px; // TODO: Use $spacingUnit ?
        }
    }

    @include media-query($onPalm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $backgroundColor;
        border: 1px solid $lightInterfaceStroke;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $darkInterfaceStroke;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $lightInterfaceStroke;
    padding: $spacingUnit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacingUnit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $textColor;
    margin-left: -$spacingUnit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacingUnit / 2;
    padding-left: $spacingUnit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacingUnit} / 2));
    width:         calc(35% - (#{$spacingUnit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacingUnit} / 2));
    width:         calc(20% - (#{$spacingUnit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacingUnit} / 2));
    width:         calc(45% - (#{$spacingUnit} / 2));
}

@include media-query($onLaptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacingUnit} / 2));
        width:         calc(50% - (#{$spacingUnit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacingUnit} / 2));
        width:         calc(100% - (#{$spacingUnit} / 2));
    }
}

@include media-query($onPalm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacingUnit} / 2));
        width:         calc(100% - (#{$spacingUnit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacingUnit 0;
}

.page-heading {
    font-size: 20px; // TODO: Proportional
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacingUnit;
    }
}

.post-meta {
    font-size: $smallFontSize;
    color: $textColor;
}

.post-link {
    display: block;
    font-size: 24px; // TODO: Proportional
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacingUnit;
}

.post-title {
    font-size: 42px; // TODO: Proportional
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($onLaptop) {
        font-size: 36px; // TODO: Proportional
    }
}

.post-content {
    margin-bottom: $spacingUnit;

    h2 {
        font-size: 32px; // TODO: Proportional

        @include media-query($onLaptop) {
            font-size: 28px; // TODO: Proportional
        }
    }

    h3 {
        font-size: 26px; // TODO: Proportional

        @include media-query($onLaptop) {
            font-size: 22px; // TODO: Proportional
        }
    }

    h4 {
        font-size: 20px; // TODO: Proportional

        @include media-query($onLaptop) {
            font-size: 18px; // TODO: Proportional
        }
    }
}
