---
layout: page
---
{% strip %}
{% filter_table %}
<div class="bibliography-content">
  <ul class="list-of-citations">
    {% for book in site.books %}
      {{ book['id'] }}
      {% if page.book_ids contains book['id'] %}
        {% if book['reviews'].size > 0 %}
          <li>
            <h3>{{ book['full_citation'] | markdown_span }}</h3>
            <ul class="citations">
              <li class="label">Cited in:</li>
              {% for review in book['reviews'] %}
                <li>{{ review.list_id | list_link }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="pagination">
    {% if page.page_number > 1 %}<li><a href="/books/{{ page.filter }}/{{ page.page_number | minus: 1 }}">Previous Entries</a></li>{% endif %}{% if page.page_number < page.max_page %}<li><a href="/books/{{ page.filter }}/{{ page.page_number | plus: 1 }}">More Entries</a></li>{% endif %}
  </ul>
  {% if page.max_page > 1 %}
    <p class="page-number">(Page {{ page.page_number}} of {{ page.max_page }})</p>
  {% endif %}
</div>
{% endstrip %}
