---
layout: page
---
{% strip %}
{% filter_table %}
<div class="wrapper">
  <ul class="list-of-citations">
    {% for book in site.books %}
      {% assign first_letter = book['full_citation'] | truncate: 1, '' | downcase %}
      {% if page.filter == 'all' %}
        {% assign output_flag = true %}
      {% elsif page.filter == first_letter %}
        {% assign output_flag = true %}
      {% else %}
        {% assign output_flag = false %}
      {% endif %}
      {% if output_flag %}
        {% if book['reviews'].size > 0 %}
          <li>
            <h3>{{ book['full_citation'] | markdown_span }}</h3>
            <ul class="citations">
              <li class="label">Cited in:</li>
              {% for review in book['reviews'] %}
                <li>{{ review.list_id | list_link }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% filter_table %}
{% endstrip %}
