---
layout: default
---
<div class="list">

  <header class="post-header" style="background-image: url({{ siteUrl }}/images/list-headers/{{ page.header }})"><div class="header-inset"><div class="wrapper">
    <div class="title-card">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-meta">
        {{ page.author | person_full_name }} • 
        {{ page.date | date: "%B %-d, %Y" }} •
        <ul class="categories"><!--
          {% for page_category in page.categories %}{% for category in site.data['categories'] %}{% if page_category == category.id %}
            --><li><a href="{{ category.id | prepend: 'category/' | prepend: site.baseurl }}">{{ category.display_name }}</a></li><!--
          {% endif %}{% endfor %}{% endfor %}
          -->
        </ul>
      </div>
    </div>
  </div></div>
  <div class="header-drawer"></div></header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
