---
layout: default
---
<div class="list">

  <header class="post-header" style="background-image: url({{ siteUrl }}/images/list-headers/{{ page.image_id }})"><div class="header-inset"><div class="wrapper">
    <div class="title-card">
      <h1 class="post-title">
        {{ page.title }}
        <span class="byline">By {{ page.author | person_full_name }}</span>
      </h1>
      <div class="post-meta">
        {{ page.date | date: "%B %-d, %Y" }} •
        <ul class="categories"><!--
          {% for page_category in page.categories %}{% for category in site.data['categories'] %}{% if page_category == category.id %}
            --><li><a href="{{ category.id | prepend: 'category/' | prepend: site.baseurl }}">{{ category.display_name }}</a></li><!--
          {% endif %}{% endfor %}{% endfor %}
          -->
        </ul>
      </div>
    </div>
  </div></div>
  <div class="header-drawer"></div></header>

  <article class="post-content">
    <div class="intro-block wrapper">
      <div class="author-profile">
        {{ page.author | author_bio }}
      </div>
      {{ content }}
    </div>

    {% strip %}
    {% for section in page.sections %}
      {% list_section_header {{ section['id'] }} %}

      {% for book in section['books'] %}
        {% bookblock {{ book }}, {{ page.id }} %}
      {% endfor %}
    {% endfor %}
    {% endstrip %}
  </article>

  <div class="biblio-block wrapper">
    <ul class="citation-sources">
      <li class="label">Cited Works:</li><!--
      --><li><a href="{{ page.zotero }}">Zotero</a></li><!--
      --><li><a href="{{ siteUrl }}{{ page.permalink }}.bib">BibTeX</a></li>
    </ul>
  </div>

</div>
